openapi: 3.0.3
info:
  title: Quickstart
  version: 1.0.0
  description: |
    | Link |
    | --- |
    | [Get Token Information](/docs/token-api#get-token-information) |
    | [Get Mints in Market](/docs/token-api#get-tokens-in-market) |
    | [Get Tradable Mints](/docs/token-api#get-all-tradable-tokens) |
    | [Get Tokens by Tag](/docs/token-api#get-tagged-tokens) |
    | [Get New Tokens](/docs/token-api#get-new-tokens) |
    | [Get All Tokens](/docs/token-api#get-all-tokens) |

servers:
  - url: https://lite-api.jup.ag/tokens/v1
    description: Free tier API endpoint with rate limits
  - url: https://api.jup.ag/tokens/v1
    description: Paid tier API endpoint with higher rate limits to be used with an API Key

paths:
  /token/{address}:
    get:
      summary: token information
      description: |
        Returns the specified mint address’s token information and metadata.

        :::note
        - Refer to [Token API doc](/docs/token-api#get-token-information) for more information.
        :::
      parameters:
        - name: address
          in: path
          description: The token’s mint address
          required: true
          schema:
            type: string
          example: So11111111111111111111111111111111111111112
      responses:
        '200':
          description: Returns metadata about a particular token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MintIncludingDuplicates'

  /market/{market_address}/mints:
    get:
      summary: mints in market
      description: |
        Returns the mints involved in a market.

        :::note
        - Refer to [Token API doc](/docs/token-api#get-tokens-in-market) for more information.
        :::
      parameters:
        - name: market_address
          in: path
          description: A market/pool address
          required: true
          schema:
            type: string
          example: BVRbyLjjfSBcoyiYFuxbgKYnWuiFaF9CSXEa5vdSZ9Hh
      responses:
        '200':
          description: Returns the mints involved in a market
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /mints/tradable:
    get:
      summary: tradable
      description: |
        Returns a list of all mints tradable via Jupiter routing.

        :::note
        - Refer to [Token API doc](/docs/token-api#get-all-tradable-tokens) for more information.
        :::
      responses:
        '200':
          description: List of mints which are tradable via Jupiter routing
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /tagged/{tag}:
    get:
      summary: tagged
      description: |
        Returns a list of mints with specified tag(s) along with their metadata.

        :::note
        - Refer to [Token API doc](/docs/token-api#get-tagged-tokens) for more information.
        :::
      parameters:
        - name: tag
          in: path
          description: A comma-separated list of tags
          required: true
          schema:
            type: string
          example: lst,token-2022
      responses:
        '200':
          description: The list of tokens with the tags given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MintIncludingDuplicates'

  /new:
    get:
      summary: new
      description: |
        Returns new tokens with metadata, created-at timestamp and markets.

        :::note
        - Refer to [Token API doc](/docs/token-api#get-new-tokens) for more information.
        :::
      parameters:
        - name: limit
          in: query
          description: How many records to output in the result
          required: false
          schema:
            type: integer
            format: int64
            nullable: true
          example: 10
        - name: offset
          in: query
          description: |
            The offset into the result set. Used with `limit` to page through data.
          required: false
          schema:
            type: integer
            format: int64
            nullable: true
            default: 0
          example: 20
      responses:
        '200':
          description: List of new tokens which are tradable with SOL
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MintWithCreationTimeAndMarkets'

  /all:
    get:
      summary: all
      description: |
        Returns all tokens with all metadata.

        :::note
        - Refer to [Token API doc](/docs/token-api#get-all-tokens) for more information.
        :::
      responses:
        '200':
          description: List of all tokens with all metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mint'

components:
  schemas:
    Mint:
      type: object
      required:
        - address
        - name
        - symbol
        - decimals
        - tags
        - created_at
        - extensions
      properties:
        address:
          type: string
        created_at:
          type: string
          format: date-time
        daily_volume:
          type: number
          format: double
          nullable: true
        decimals:
          type: integer
          format: int32
        extensions:
          type: object
          additionalProperties: true
        freeze_authority:
          type: string
          nullable: true
        logoURI:
          type: string
          nullable: true
        mint_authority:
          type: string
          nullable: true
        minted_at:
          type: string
          format: date-time
          nullable: true
        name:
          type: string
        permanent_delegate:
          type: string
          nullable: true
        symbol:
          type: string
        tags:
          type: array
          items:
            type: string
            nullable: true

    MintIncludingDuplicates:
      allOf:
        - $ref: '#/components/schemas/Mint'
      type: object

    MintWithCreationTimeAndMarkets:
      type: object
      required:
        - mint
        - created_at
        - metadata_updated_at
        - name
        - symbol
        - decimals
        - known_markets
      properties:
        mint:
          type: string
        created_at:
          type: string
          format: date-time
        metadata_updated_at:
          type: string
          format: date-time
        decimals:
          type: integer
          format: int32
        freeze_authority:
          type: string
          nullable: true
        known_markets:
          type: array
          items:
            type: string
        logo_uri:
          type: string
          nullable: true
        mint_authority:
          type: string
          nullable: true
        name:
          type: string
        symbol:
          type: string

