openapi: 3.0.3
info:
  title: Quickstart
  version: 1.0.0
  description: |
    | Link |
    | --- |
    | [Get Order](/docs/ultra-api/get-order) |
    | [Execute Order](/docs/ultra-api/execute-order) |

servers:
  - url: https://lite-api.jup.ag/ultra/v1
    description: Free tier API endpoint with rate limits
  - url: https://api.jup.ag/ultra/v1
    description: Paid tier API endpoint with higher rate limits to be used with an API Key

paths:
  /order:
    get:
      summary: order
      description: |
        Request for a base64-encoded unsigned swap transaction to be used in `POST /ultra/v1/execute`

        :::note
        - Refer to [Ultra API doc](/docs/ultra-api/get-order) for more information
        :::
      parameters:
        - in: query
          name: inputMint
          schema:
            type: string
          required: true
        - in: query
          name: outputMint
          schema:
            type: string
          required: true
        - in: query
          name: amount
          schema:
            type: string
          required: true
        - in: query
          name: taker
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: referralAccount
          schema:
            type: string
          required: false
        - in: query
          name: referralFee
          schema:
            type: number
            minimum: 50
            maximum: 255
          required: false
        - in: query
          name: excludeRouters
          schema:
            type: string
            enum:
              - metis
              - jupiterz
              - hashflow
              - dflow
              - pyth
              - okx
          required: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  inputMint:
                    type: string
                  outputMint:
                    type: string
                  inAmount:
                    type: string
                  outAmount:
                    type: string
                  otherAmountThreshold:
                    type: string
                  swapMode:
                    type: string
                  slippageBps:
                    type: number
                  priceImpactPct:
                    type: string
                  routePlan:
                    type: array
                    items:
                      type: object
                      properties:
                        swapInfo:
                          type: object
                          properties:
                            ammKey:
                              type: string
                            label:
                              type: string
                            inputMint:
                              type: string
                            outputMint:
                              type: string
                            inAmount:
                              type: string
                            outAmount:
                              type: string
                            feeAmount:
                              type: string
                            feeMint:
                              type: string
                          required:
                            - ammKey
                            - label
                            - inputMint
                            - outputMint
                            - inAmount
                            - outAmount
                            - feeAmount
                            - feeMint
                        percent:
                          type: number
                      required:
                        - swapInfo
                        - percent
                  feeMint:
                    type: string
                  feeBps:
                    type: number
                  prioritizationFeeLamports:
                    type: number
                  swapType:
                    type: string
                    enum:
                      - aggregator
                      - rfq
                      - hashflow
                  transaction:
                    description: "Unsigned base-64 encoded transaction to be signed and used in `/execute`"
                    type: string
                    nullable: true
                  gasless:
                    type: boolean
                  requestId:
                    description: "Required to make a request to `/execute`"
                    type: string
                  totalTime:
                    type: number
                  taker:
                    type: string
                    nullable: true
                  quoteId:
                    type: string
                  maker:
                    type: string
                  expireAt:
                    type: string
                  platformFee:
                    type: object
                    properties:
                      amount:
                        type: string
                      feeBps:
                        type: number
                    required:
                      - amount
                      - feeBps
                  dynamicSlippageReport:
                    type: object
                    properties:
                      amplificationRatio:
                        type: string
                        nullable: true
                      otherAmount:
                        type: number
                        nullable: true
                      simulatedIncurredSlippageBps:
                        type: number
                        nullable: true
                      slippageBps:
                        type: number
                      categoryName:
                        type: string
                      heuristicMaxSlippageBps:
                        type: number
                    required:
                      - amplificationRatio
                      - otherAmount
                      - simulatedIncurredSlippageBps
                      - slippageBps
                      - categoryName
                      - heuristicMaxSlippageBps
                required:
                  - inputMint
                  - outputMint
                  - inAmount
                  - outAmount
                  - otherAmountThreshold
                  - swapMode
                  - slippageBps
                  - priceImpactPct
                  - routePlan
                  - feeBps
                  - prioritizationFeeLamports
                  - swapType
                  - transaction
                  - gasless
                  - requestId
                  - totalTime
                  - taker

  /execute:
    post:
      summary: execute
      description: |
        Execute the signed transaction and get the execution status

        :::note
        - Do note that the `requestId` is found in the response of `/order`
        - Refer to [Ultra API doc](/docs/ultra-api/execute-order) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signedTransaction:
                  type: string
                  description: "The signed transaction to execute"
                requestId:
                  type: string
                  description: "Found in response of `/order`"
              required:
                - signedTransaction
                - requestId
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - Success
                      - Failed
                  signature:
                    type: string
                  slot:
                    type: string
                  error:
                    type: string
                  code:
                    type: number
                  totalInputAmount:
                    type: string
                  totalOutputAmount:
                    type: string
                  inputAmountResult:
                    type: string
                  outputAmountResult:
                    type: string
                  swapEvents:
                    type: array
                    items:
                      type: object
                      properties:
                        inputMint:
                          type: string
                        inputAmount:
                          type: string
                        outputMint:
                          type: string
                        outputAmount:
                          type: string
                      required:
                        - inputMint
                        - inputAmount
                        - outputMint
                        - outputAmount
                required:
                  - status
                  - code
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error

  /balances/{address}:
    get:
      summary: balances
      description: |
        Request for token balances of an account

        :::note
        - Refer to [Ultra API doc](/docs/ultra-api/get-balances) for more information
        :::
      parameters:
        - in: path
          name: address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    amount:
                      type: string
                    uiAmount:
                      type: number
                    slot:
                      type: number
                    isFrozen:
                      type: boolean
                  required:
                    - amount
                    - uiAmount
                    - slot
                    - isFrozen
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error

  /shield:
    get:
      summary: shield
      description: |
        Request for token information and warnings of mints

        :::note
        - Refer to [Ultra API doc](/docs/ultra-api/get-shield) for more information
        :::
      parameters:
        - in: query
          name: mints
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  warnings:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                          message:
                            type: string
                        required:
                          - type
                          - message
                required:
                  - warnings
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error

  /order/routers:
    get:
      summary: routers
      description: |
        Request for the list of routers available in the routing engine of Ultra, which is [Juno](/docs/routing#juno-liquidity-engine)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                      enum:
                        - Metis v1.6
                        - JupiterZ
                        - Hashflow
                        - DFlow
                        - Pyth Express Relay
                        - OKX DEX Router
                    icon:
                      type: string
                  required:
                    - id
                    - name
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
